<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="www.highpin.cn" type="MasterDuner.Cooperations.Csq.Channels.Configuration.HPSection, Csq.Wsi.Channels.HighpinCn"/>
  </configSections>
  <www.highpin.cn xmlns="urn:MasterDuner@Yeah.net">
    <actionUrls>
      <add name="ValidatingCode" baseUrl="http://www.highpin.cn/Home/GetValidatingCode?imgtype=6&time={0}"/>
    </actionUrls>
  </www.highpin.cn>
</configuration>
