<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="csq.channels" type="MasterDuner.Cooperations.Csq.Commons.Configuration.SearchChannelSection, Csq.Wsi.Core"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <csq.channels xmlns="urn:MasterDuner@Yeah.net">
    <add id="1024" domain="www.highpin.cn" description="智联卓聘搜索渠道">
      <homePage url="http://www.highpin.cn"/>
      <entryPoint enabled="true">
        <privateConfig hasPrivateConfigurationFile="true" privateConfigurationFileName="highpin.cn.config"/>
      </entryPoint>
      <caching cacheRequired="true" namePrefix="HP_"/>
    </add>
  </csq.channels>
</configuration>
