body{
	margin: 0px 0px 0px 0px;
	border: 0px none;
	padding: 0px 0px 0px 0px;
	font-size: 14px;
	font-family: Arial, "\5FAE\8F6F\96C5\9ED1", serif;
}

a:active, a, a:focus, a:hover, a:link, a:visited {
	text-decoration: none;
}

input{
	font-family: Arial, "\5FAE\8F6F\96C5\9ED1", serif;
}

.float-left{
	float: left;
}

.width-200{
	width: 200px;
}

.height-5{
	height: 5px;
}

.height-40{
	height: 40px;
}

div.other-condition{
	width: 190px;
	height: 30px;
	background-color: #4E4E4E;
	margin: 5px;
	text-align: center;
}

div.other-condition input[type=text]{
	width: 190px;
	height: 30px;
	line-height: 30px;
	border: 0 none;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
	color: #DCDCDC;
}

div.other-condition label{
	font-size: 12px;
	color: #DCDCDC;
}

div.preloader{
	background-color: #00CCFF;
	height: 5px;
}

div.dropdown-panel{
	background-image: url(../images/droparrow.png);
	background-repeat: no-repeat;
	background-position: right;
}

div.dropdown-panel input{
	cursor: default;
}

div.dropdown-options{
	width: 190px;
	z-index: 9999;
	position: absolute;
	left: 5px;
	background-color: #00ccff;
	height: auto;
	display: none;
}

div.dropdown-options ul{
	width: 190px;
	margin: 0px;
	padding: 0px;
	background-color: #00ccff;
	list-style: none;
}

div.dropdown-options ul li{
	width: 190px;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 30px;
	background-color: #00ccff;
	line-height: 30px;
	font-size: 12px;
	font-family: Arial, "\5FAE\8F6F\96C5\9ED1", serif;
	color: #FFFFFF;
	cursor: default;
}

div.dropdown-panel div ul li:hover{
	background-color: #343434;
}

#LogoImagePanel{
	height: 60px;
}

#LogoImagePanel img{
	height: 60px;
	width: 200px;
	border: 0px none;
}

#LeftCtrlsPanel{
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #343434;
}

#RightCtrlsPanel{
	overflow: auto;
}

#LoaderPanel{
	display: none;
}

#KeywordsPanel{
	background-color: #990000;
}

#KeywordsPanel input[type=text]{
	height: 30px;
	width: 190px;
	border: 0px none;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #FFFF00;
	margin: 5px;
	line-height: 30px;
}

#Tooltip{
	height: auto;
	width: auto;
	text-align: center;
	overflow: hidden;
	background-color: #009999;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, "\5FAE\8F6F\96C5\9ED1", serif;
	display: none;
	padding: 10px;
}