<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MasterDuner.Cooperations.Csq.TestProjects.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Csq.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MasterDuner.Cooperations.Csq.TestProjects.Properties.Settings>
            <setting name="Csq_Demo_ResumeSearchService_SearchChannelService"
                serializeAs="String">
                <value>http://localhost:81/Wsi/SearchChannelService.asmx</value>
            </setting>
            <setting name="demo_HPParserService_HPPrivateService" serializeAs="String">
                <value>http://localhost:81/Wsi/HPPrivateService.asmx</value>
            </setting>
        </MasterDuner.Cooperations.Csq.TestProjects.Properties.Settings>
        <Csq.Demo.Properties.Settings>
            <setting name="Csq_Demo_ResumeSearchService_SearchChannelService" serializeAs="String">
                <value>http://localhost:81/Wsi/SearchChannelService.asmx</value>
            </setting>
        </Csq.Demo.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
