<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="csq.highpin.cn" type="MasterDuner.HHProjects.Csq.Highpincn.Configuration.HighpinCnQueryServiceSection, Highpincn.Configuration"/>
  </configSections>
  <csq.highpin.cn xmlns="http://www.highpin.cn">
    <authentication enabled="true">
      <analogousAccount userName="1838612453@qq.com" passphrase="391210"/>
    </authentication>
    <resources domainName="www.highpin.cn">
      <urls>
        <add name="ValidatingCode" url="http://www.highpin.cn/Home/GetValidatingCode?imgtype=6&amp;time={0}"/>
        <add name="SignInPage" url="http://www.highpin.cn/Home/JsonLogon"/>
        <add name="ParametersData" url="http://image.highpin.cn/js/shared/data/poplayer_dic_cn.js?version={0}"/>
      </urls>
      <homePage name="HomePage" url="http://www.highpin.cn"/>
    </resources>
    <sessionCaching cacheSlidingExpirationEnabled="true" absoluteExpirationMinutes="60" slidingExpirationMinutes="30"/>
    <validatingCodeTempDir path="E:\CSharp\Customizations\人力资源管理系统\CSQ\VCTemp\"/>
    <legalValidatingCodeSequence chars="0123456789abcdefghijklmnopqrstuvwxyz"/>
    <textParser>
      <regularExpressions>
        <group name="Industry">
          <add name="Primary" expression="\$D_2\[\d+\]\s=\s\[\D+\],\s\[0\]\];"/>
          <add name="IndustryName" expression="\[\&quot;\D+\&quot;\]"/>
          <add name="IndustryID" expression="\[\d{2,}\]"/>
        </group>
      </regularExpressions>
    </textParser>
  </csq.highpin.cn>
</configuration>
