<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="csq.highpin.cn" type="MasterDuner.HHProjects.Csq.Highpincn.Configuration.HighpinCnQueryServiceSection, Highpincn.Configuration"/>
  </configSections>
  <csq.highpin.cn xmlns="http://www.highpin.cn">
    <authentication enabled="true">
      <analogousAccount userName="1838612435@qq.com" passphrase="391210"/>
    </authentication>
    <resources domainName="www.highpin.cn">
      <urls>
        <add name="ValidatingCode" url="http://www.highpin.cn/GetValidatingCode?imgtype=6&amp;time={0}"/>
      </urls>
      <homePage name="HomePage" url="http://www.highpin.cn"/>
    </resources>
    <sessionCaching cacheSlidingExpirationEnabled="true" absoluteExpirationMinutes="60" slidingExpirationMinutes="30"/>
    <validatingCodeTempDir path="E:\CSharp\Customizations\人力资源管理系统\CSQ\VCTemp\"/>
  </csq.highpin.cn>
</configuration>
